<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/navbarIcon.ico" class="logo">
      </a>
      <span class="navbar-brand">Project X</span>
    </div>
    <ul class="nav navbar-nav nav-right">
      <li><a href="#" routerLink="signup">
          Sign up
        </a>
      </li>
      <li><a href="#">
          login
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>